<footer>
    <div class="newsletter row no-margin text-center p70 d-none d-sm-block">
        <div class="col-sm-12">
            <input type="text" placeholder="Grab our newletter">
        </div>
    </div>
    
    <div class="col-sm-5 col-xs-12 p70 text-center d-sm-none d-md-none d-lg-none">
            <ul class="list-inline no-margin social-icons">
                <li class="list-inline-item"><i class="fa fa-cc-mastercard icons" aria-hidden="true"></i></li>
                <li class="list-inline-item"><i class="fa fa-cc-amex icons" aria-hidden="true"></i></li>
                <li class="list-inline-item"><i class="fa fa-cc-visa icons" aria-hidden="true"></i></li>
                <li class="list-inline-item"><i class="fa fa-cc-paypal icons" aria-hidden="true"></i></li>
                <li class="list-inline-item"><i class="fa fa-cc-stripe icons" aria-hidden="true"></i></li>
            </ul>
    </div>
    <div class="footer2 row mlr50">		
        <div class="col-sm-2 col-xs-12 text-center d-sm-none d-md-none d-lg-none">
            <img src="../../assets/img/logo.jpg">
        </div>
        <div class="col-sm-5 ptb50">
            <ul class="list-inline no-margin footer-links text-uppercase">
                <li class="list-inline-item active">Bedroom</li>
                <li class="list-inline-item">Living room</li>
                <li class="list-inline-item">Office</li>
                <li class="list-inline-item">Kitchen</li>
                <li class="list-inline-item">Bathroom</li>
            </ul>
        </div>					
        <div class="col-sm-2 col-xs-12 text-center d-none d-sm-block">
            <img src="../../assets/img/logo.jpg">
        </div>
        <div class="col-sm-5 col-xs-12 social-icons-wrapper ptb50">
            <ul class="list-inline no-margin social-icons">
                <li class="list-inline-item"><i class="fa fa-facebook icons" aria-hidden="true"></i></li>
                <li class="list-inline-item"><i class="fa fa-twitter icons" aria-hidden="true"></i></li>
                <li class="list-inline-item"><i class="fa fa-pinterest icons" aria-hidden="true"></i></li>
            </ul>
        </div>
    </div>
</footer>